/* Global Styles */
html, body {
    height: 100%;              /* Ensure body takes full viewport height */
    margin: 0;                 /* Remove default margin */
    display: flex;             /* Use flexbox layout */
    flex-direction: column;    /* Stack header, main, and footer vertically */
}

/* Top Bar */
header {
    background-color: #5F9EA0; /* Teal background */
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0;
    font-size: 3em;
}

header nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #5f83a0; /* Accent color when hovering */
}

hr {
    display: none;  /* Hide hr tags to remove unwanted lines */
}
