/* Global Styles */
html, body {
    height: 100%;              /* Ensure body takes full viewport height */
    margin: 0;                 /* Remove default margin */
    display: flex;             /* Use flexbox layout */
    flex-direction: column;    /* Stack header, main, and footer vertically */
}

/* Top Bar */
header {
    background-color: #5F9EA0; /* Teal background */
    color: white;
    text-align: center;
}

header h1 {
    padding: 20px;
    margin: 0;
    font-size: 3em;
}

header nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #5f83a0; /* Accent color when hovering */
}

hr {
    display: none;  /* Hide hr tags to remove unwanted lines */
}

/* Main Content */
main {
    padding: 100px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;                 /* Allow main to take available space */
}

.categories {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories li {
  padding: 10px;
}

.categories a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.categories a:hover {
  color: #007bff;
}

.arrow-right {
  margin-left: 10px;
  background-color: #f0f0f0; /* Light background color */
  border: 1px solid #ccc; /* Thin border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px;
  cursor: pointer;
  font-size: 1.5em;
}

.arrow-right:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}
  

.arrow-left {
  margin-left: 10px;
  background-color: #f0f0f0; /* Light background color */
  border: 1px solid #ccc; /* Thin border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px;
  cursor: pointer;
  font-size: 1.5em;
}

.arrow-left:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}


/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 1em;
    padding: 20px 0;        /* Add padding for spacing */
    margin-top: auto;       /* Ensure the footer is always at the bottom */
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #5f83a0;
}
