/* Global Styles */
html, body {
    height: 100%;              /* Ensure body takes full viewport height */
    margin: 0;                 /* Remove default margin */
    display: flex;             /* Use flexbox layout */
    flex-direction: column;    /* Stack header, main, and footer vertically */
}

/* Top Bar */
header {
    background-color: #5F9EA0; /* Teal background */
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0;
    font-size: 3em;
}

header nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #5f83a0; /* Accent color when hovering */
}

hr {
    display: none;  /* Hide hr tags to remove unwanted lines */
}

/* Main Content */
main {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;                 /* Allow main to take available space */
}

.daily-image img {
    max-width: 100%;
    height: auto;
}

section {
    margin-bottom: 40px;
    margin-top: 50px;  /* Increased space between menu and login box */
}

/* Welcome Section (Login Form) */
form {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    display: block;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #00bcd4;
    outline: none;
}

form button {
    background-color: #5F9EA0; /* Teal button */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%;
}

form button[type="submit"]:hover {
    background-color: #5f83a0; /* Darker teal on hover */
}

form button[type="button"] {
    background-color: #5F9EA0; /* Teal for 'Create' button */
    margin-top: 10px;
}

form button[type="button"]:hover {
    background-color: #5f83a0; /* Darker teal on hover */
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 1em;
    padding: 20px 0;        /* Add padding for spacing */
    margin-top: auto;       /* Ensure the footer is always at the bottom */
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #5f83a0;
}
